<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
</head>

<body>
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>
    <!-- <form action="">
        <select name="" id="" class="form-select h-7">

        </select>
    </form> -->
    <div id="content">{% block content%}{% endblock %}</div>
</body>

</html>