{% extends "base.html" %}
{% block title%}
新增歌曲
{% endblock %}
{% block content%}
<form method="post" class="space-y-9">
    {{ form.csrf_token}}
    <div class="space-x-2"><span>{{ form.name.label}}</span><span>{{ form.name }}</span></div>
    <div class="space-x-9"><span>{{ form.duration.label}}</span><span>{{ form.duration }}</span></div>
    <div class="flex gap-2 items-center"><span>{{ form.singer_id.label}}</span><span>{{ form.singer_id }}</span><span>{{ form.album_id.label}}</span><span>{{ form.album_id }}</span></div>

    <div class="float-right">{{ form.submit }}</div>
</form>
{% endblock %}