{% extends "base.html" %}
{% block content%}
<form method="post">
    {{ form.csrf_token}}
    <div class="flex flex-row items-center mt-20 gap-7">
        <span>{{ form.singer_id.label }}</span><span>{{ form.singer_id }}</span>
        <span>{{ form.album_id.label }}</span><span>{{ form.album_id}}</span>
    </div>
    <table class="border-collapse border border-slate-400 m-16">
        <thead>
            <tr>
                <th class="border border-slate-700">歌曲名称</th>
                <th class="border border-slate-700">歌曲时长</th>
            </tr>
        </thead>
        <tbody>
            {% for row in tracks%}
                <tr class="text-center">
                    {% for value in row %}
                    <td class="border border-slate-300">{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
        </tbody>
    </table>

</form>
<!-- <% for track in tracks %>
            
<%endfor%> -->

<!-- <div class="mx-auto max-w-max">
    <div class="columns-3 float-left">
        <p>{{ form.singer_id.label }}</p>
        <p>{{ form.singer_id }}</p>
    </div>
    <div class="columns-4 float-left">
        <p>{{ form.album_id.label }}</p>
        <p>{{ form.album_id}}</p>
    </div>
</div> -->

{% endblock %}