{% extends "base.html" %}
{% block title%}
{% if singers | length >1 %}
所有歌手
{% else %}
歌手-{{ singers[0]["name"] }}
{% endif %}
{% endblock %}
{% block content%}
<div class="flex gap-10 items-start text-lg m-20 space-x-10">
<table class="border-collapse border border-slate-400">
    <thead>
        <tr>
            <th class="border border-slate-700">序号</th>
            <th class="border border-slate-700">姓名</th>
        </tr>
    </thead>
    <tbody>
        {% for row in singers%}
            <tr class="text-center hover:bg-purple-300">
                {% for value in row%}
                <td class="border border-slate-300 "><a href="singer\{{ row[0] }}" >{{ value }}</a></td>
                {% endfor %}
            </tr>
            {% endfor %}
    </tbody>
</table>

<table class="border-collapse border border-slate-400">
    <thead>
        <tr>
            <th class="border border-slate-700">序号</th>
            <th class="border border-slate-700">专辑</th>
        </tr>
    </thead>
    <tbody>
        {% for row in albums%}
            <tr class="text-center hover:bg-purple-300">
                {% for value in row %}
                <td class="border border-slate-300"><a href="album\{{ row[0] }}">{{ value }}</a></td>
                {% endfor %}
            </tr>
            {% endfor %}
    </tbody>
</table>

<table class="border-collapse border border-slate-400">
    <thead>
        <tr>
            <th class="border border-slate-700">序号</th>
            <th class="border border-slate-700">歌曲</th>
        </tr>
    </thead>
    <tbody>
        {% for row in tracks%}
            <tr class="text-center hover:bg-purple-300">
                {% for value in row %}
                <td class="border border-slate-300"><a href="track\{{ row[0] }}">{{ value }}</a></td>
                {% endfor %}
            </tr>
            {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}